version: '3.8'

services:
  db:
    image: postgres:13
    environment:
      POSTGRES_DB: django_auth_api
      POSTGRES_USER: django_user
      POSTGRES_PASSWORD: django_password
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    ports:
      - "5433:5432"

  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      - DB_HOST=db
      - DB_NAME=django_auth_api
      - DB_USER=django_user
      - DB_PASSWORD=django_password

volumes:
  postgres_data:
